<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">客户id</label>
            <div class="layui-input-block">
                <input type="text" name="customer_id" class="layui-input" lay-verify="required" placeholder="请输入客户id" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行图标</label>
            <div class="layui-input-block">
                <input type="text" name="bank_icon" class="layui-input" lay-verify="required" placeholder="请输入银行图标" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行名称</label>
            <div class="layui-input-block">
                <input type="text" name="bank_title" class="layui-input" lay-verify="required" placeholder="请输入银行名称" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行卡号</label>
            <div class="layui-input-block">
                <input type="text" name="bank_number" class="layui-input" lay-verify="required" placeholder="请输入银行卡号" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行缩略图正面</label>
            <div class="layui-input-block">
                <input type="text" name="bank_card_z" class="layui-input" lay-verify="required" placeholder="请输入银行缩略图正面" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行缩略图反面</label>
            <div class="layui-input-block">
                <input type="text" name="bank_card_f" class="layui-input" lay-verify="required" placeholder="请输入银行缩略图反面" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">持卡人</label>
            <div class="layui-input-block">
                <input type="text" name="bank_man" class="layui-input" lay-verify="required" placeholder="请输入持卡人" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">有效日期</label>
            <div class="layui-input-block">
                <input type="text" name="effective_date" class="layui-input"  placeholder="请输入有效日期" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">安全码</label>
            <div class="layui-input-block">
                <input type="text" name="safe_code" class="layui-input" lay-verify="required" placeholder="请输入安全码" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">默认1</label>
            <div class="layui-input-block">
                <input type="text" name="default" class="layui-input" lay-verify="required" placeholder="请输入默认1" value="0">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>